<ul class="summary">
    {{range $index, $value := .Nav}}
    <li class="chapter {{getActive .Link $.ActiveNav .IsDir}}" data-level="1.{{inc $index}}" data-path="../">
        <a href="{{.Link}}">
            {{.ShowName}}
            {{if .IsDir}}<i class="exc-trigger fa"></i>{{end}}
        </a>
        {{if .Children}}
        <ul class="articles">
            {{range $childIndex1, $childValue := .Children}}
            <li class="chapter {{getActive .Link $.ActiveNav .IsDir}}" data-level="1.{{inc $index}}.{{inc $childIndex1}}">
                <a href="{{.Link}}">
                    {{.ShowName}}
                    {{if .IsDir}}<i class="exc-trigger fa"></i>{{end}}
                </a>
                {{if .Children}}
                <ul class="articles">
                    {{range $childIndex2, $childValue :=.Children}}
                    <li class="chapter {{getActive .Link $.ActiveNav .IsDir}}" data-level="1.{{inc $index}}.{{inc $childIndex1}}.{{inc $childIndex2}}">
                        <a href="{{.Link}}">
                            {{.ShowName}}
                            {{if .IsDir}}<i class="exc-trigger fa"></i>{{end}}
                        </a>
                        {{if .Children}}
                        <ul class="articles">
                            {{range $childIndex3, $childValue := .Children}}
                            <li class="chapter {{getActive .Link $.ActiveNav .IsDir}}" data-level="1.{{inc $index}}.{{inc $childIndex1}}.{{inc $childIndex2}}.{{inc $childIndex3}}">
                                <a href="{{.Link}}">
                                    {{.ShowName}}
                                    {{if .IsDir}}<i class="exc-trigger fa"></i>{{end}}
                                </a>
                            </li>
                            {{end}}
                        </ul>
                        {{end}}
                    </li>
                    {{end}}
                </ul>
                {{end}}
            </li>
            {{end}}
        </ul>
        {{end}}
    </li>
    {{end}}
    <li class="divider"></li>
</ul>